<ion-content class="ion-padding">
  <topo-login title="Criar usuário"> </topo-login>

  <form [formGroup] ="registerForm" (submit) = 'createUser()'>

    <ion-item>
      <ion-icon name='person' color='mc' slot='start'></ion-icon>
      <ion-input formControlName="name" type='text' placeholder='Nome' autofocus='true'></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name='person' color='mc' slot='start'></ion-icon>
      <ion-input formControlName="lastName" type='text' placeholder='Sobrenome' ></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name='mail' color='mc' slot='start'></ion-icon>
      <ion-input formControlName="email" type='email' placeholder='E-mail'></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name='lock-closed' color='mc' slot='start'></ion-icon>
      <ion-input formControlName="pass" type='password' placeholder='Senha'></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name='lock-closed' color='mc' slot='start'></ion-icon>
      <ion-input formControlName="confirmPass" type='password' placeholder='Confirmar Senha'></ion-input>
    </ion-item><br><br>

    <ion-button [disabled]='registerForm.invalid' type='submit' expand='block' color='mc' fill='clear'>Cadastrar</ion-button>
  </form>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill='clear' color='medium'>Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>