
  <div id="logo-div">
    <ion-text color="medium">
      <p>{{title ? title : '' }}</p>
      <img src="../../../../../assets/icon/mc_Logo.jpg">
      <h3>MContabilidade</h3>
    </ion-text>
  </div>
