<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)='logout()'>
      MContabilidade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>TÓPICOS ESPECIAIS</strong>
    <p>Desenvolvido por Renato Tomaz O. A.</p>
    <p>GU3001792</p>
  </div>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/contas/receber']" fill='clear' color='medium'>Contas a receber</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/contas/pagar']" fill='clear' color='medium'>Contas a pagar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>