<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar nova conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='ion-padding'>
  <br><br>
  <form [formGroup] ="contasForm" (submit) = 'registraConta()'>
    <ion-item>
      <ion-icon name='person' color='mc' slot='start'></ion-icon>
      <ion-input formControlName="parceiro" placeholder='Parceiro Comercial' autofocus='true'></ion-input>
    </ion-item><br>

    <ion-item>
      <ion-icon name='document' color='mc' slot='start'></ion-icon>
      <ion-input formControlName="descricao" placeholder='Descrição'></ion-input>
    </ion-item><br>
    
    <ion-item>
      <ion-icon name='wallet' color='mc' slot='start'></ion-icon>
      <ion-input formControlName="valor" type='number' placeholder='Valor'></ion-input>
    </ion-item><br><br>

    <ion-radio-group formControlName='tipo'>
      <ion-item>
        <ion-label>A Pagar</ion-label>
        <ion-radio slot="start" value='pagar'></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>A Receber</ion-label>
        <ion-radio slot="start" value='receber'></ion-radio>
      </ion-item>
    </ion-radio-group><br><br>

    <ion-button [disabled]='contasForm.invalid' type='submit' expand='block' color='mc' fill='clear'>Enviar</ion-button>
  </form>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/contas/receber']" fill='clear' color='medium'>Contas a receber</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/contas/pagar']" fill='clear' color='medium'>Contas a pagar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>