<ion-header>
  <ion-toolbar>
    <ion-title>Contas a Pagar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list >
    <ion-item *ngFor='let conta of listaContas'>
      <ion-label>
        <h2>{{conta.parceiro}}</h2>
        <p>{{conta.descricao}}</p>
        <h3>R$ {{conta.valor}}</h3>
      </ion-label>
      <ion-icon name='trash' color='mc' slot='end' (click)="remove(conta)"></ion-icon>
    </ion-item>
  </ion-list>
  

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/contas/receber']" fill='clear' color='medium'>Contas a receber</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [routerLink]="['/contas/cadastro']" fill='clear' color='medium'>Cadastrar Nova</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>