<ion-content class='ion-padding'>
  <topo-login title='Esqueci Minha Senha'></topo-login>

  <form [formGroup] = 'forgotForm' (submit) = 'forgot()'>
    <ion-item>
      <ion-icon name='mail' color='mc' slot='start'></ion-icon>
      <ion-input formControlName='email' type='email' placeholder='E-mail' autofocus='true'></ion-input>

      <ion-button [disabled]='forgotForm.invalid' type='submit' expand='block' color='mc' fill='clear'>Enviar</ion-button>
    </ion-item>
  </form>
</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <ion-button [routerLink]="['/auth']" fill='clear' color='medium'>Voltar</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>